[submodule "SimpLeX-Frontend"]
	path = SimpLeX-Frontend
	url = https://github.com/Siverteh/SimpLeX-Frontend.git
[submodule "SimpLeX-Kubernetes"]
	path = SimpLeX-Kubernetes
	url = https://github.com/Siverteh/SimpLeX-Kubernetes.git
[submodule "SimpLeX-Backend"]
	path = SimpLeX-Backend
	url = https://github.com/Siverteh/SimpLeX-Backend.git
[submodule "SimpLeX-Compiler"]
	path = SimpLeX-Compiler
	url = https://github.com/Siverteh/SimpLeX-Compiler.git
